<script type="text/x-template" id="classSelectDialog">
  <span>
    <v-select class="mr-4" @mouseup="classSelectDialog_shown = true" v-model="classSelectDialog_selected"
      :items="classSelectDialog_dataList" readonly :label="classSelectDialog_title" hide-details dense
      outlined hide-no-data hide-selected />
    <v-dialog v-model="classSelectDialog_shown" scrollable max-width="500px">
      <v-card>
        <v-card-title>
          <span>{{ classSelectDialog_title }}</span>
          <v-text-field
            label="搜索"
            clearable
            dense
            v-model="classSelectDialog_filterText"
            hide-details
            prepend-inner-icon="mdi-text-search"
            class="ma-2 pa-0"
            outlined
          ></v-text-field>
        </v-card-title>
        <v-divider />
        <div class="list">
          <v-list rounded>
            <v-list-item-group color="primary" active-class>
              <v-list-item v-for="(item, index) in classSelectDialog_dataList_filter" :key="item.value" @click="selectItem({ item })">
                <template #default="{ active }">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.text" />
                  </v-list-item-content>
                </template>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </div>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" text @click="classSelectDialog_shown = false">取消</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>    
  </span>
</script>

<script>
  Vue.component("classSelectDialog", {
    template: "#classSelectDialog",
    vueComponent: 'classSelectDialog',
    mixins: [ window.jianghuMixins ],
    data: () => (window.vueData),
    computed: {
      classSelectDialog_dataList_filter() {
        const classSelectDialog_filterText = (this.classSelectDialog_filterText || '').toLowerCase();
        let list = this.classSelectDialog_dataList.slice();
        list = list.filter((item) =>
            item.text && 
            ( item.text.toLowerCase().includes(classSelectDialog_filterText) ||
              item.text.includes(classSelectDialog_filterText)
            )
        )
        return list;   
      },
    },
    methods: {
      selectItem({ item }) {
        this.classSelectDialog_selected = item.value;
        this.classSelectDialog_shown = false;
      },
    },
  });
</script>
<style>
  .list {
    max-height: 700px;
    overflow-y: scroll;
  }
</style>